.header {
  /* outline: 1px solid red; */
  padding: 10px 15px;
  background-color: rgb(35, 15, 180);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.link {
  font-size: 20px;
  color: antiquewhite;
  font-weight: 500;
  padding: 8px 12px;
  transition: all 250ms linear;
  border: 1px solid rgba(250, 235, 215, 0);
}

.link:hover {
  border: 1px solid rgba(250, 235, 215);
  border-radius: 12px;
  -webkit-box-shadow: 0px 6px 100px 0px rgba(252, 252, 252, 0.5);
  -moz-box-shadow: 0px 6px 100px 0px rgba(252, 252, 252, 0.5);
  box-shadow: 0px 6px 100px 0px rgba(252, 252, 252, 0.5);
}

.current {
  font-weight: 900;
  border-bottom: 1px solid rgba(250, 235, 215);
}

.logo_container {
  display: flex;
  align-items: center;
  color: antiquewhite;
}

.icon {
  width: 60px;
  height: 60px;
}

.logo_text {
  margin: 0;
  margin-left: 10px;
  font-size: 28px;
  font-family: 'Unna', serif;
  line-height: 2rem;
}
